************** CS AMP Basic Optimization **********
* Common-source amplifier

.subckt CS_AMP vs vo 
.model nch nmos level=1 vto=0.5 kp=50u tox=15n 


.param rd= '2*$ib/$ov'

vs   vs   0    ac  1 dc '0.5+$ov'
vb   vb   0    2.5
ib   0    vo   $ib
rs   vs   vg   '2*rd'
rd   vb   vo   'rd'
m1   vo   vg   0  0  nch   w=$W  l=1u
cl   vo   0    1e-12


.ends